@inherits LayoutComponentBase


<div class="container outer">

    <div class="row">
        <div class="col-4 menu">

            <div class="sidebar">
                <NavMenu />
            </div>


        </div>

        <div class="col-8 main">

            @Body

        </div>
    </div>

</div>

